.wrapper {
    min-width: 300px;
    max-width: 500px;
    width: 45%;
    background: var(--background);
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .title {
    font-size: 35px;
    font-weight: 550;
    text-align: center;
    color: var(--text-header);
    margin: 0 0 20px 0;
}

.form-container {
    width: 90%;
}

form .field {
    height: 50px;
    margin: 10px 0 20px 0;
    width: 90%;
}

form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid var(--second);
    transition: all 0.4s ease;
}

form .field input:focus {
    border: 1px solid var(--sublight);
    border-radius: 10px;
}

form .link {
    text-align: center;
    margin-top: 20px;
    color: var(--text);
}

form .link a {
    color: var(--second);
    text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
    text-decoration: underline;
}

form .button-registration,
form .button-login {
    text-align: center;
    margin: 25px 0;
}

form .button-login input[type="submit"] {
    border: 1px solid var(--second);
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    width: 30%;
    min-width: 100px;
    border-radius: 5px;
    background: var(--second);
    color: var(--text);
    height: 35px;
    cursor: pointer;
}

form .button-registration input[type="submit"] {
    border: 1px solid var(--second);
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    width: 50%;
    min-width: 200px;
    border-radius: 5px;
    background: var(--second);
    color: var(--text);
    height: 35px;
    cursor: pointer;
}

form .button-login input[type="submit"]:hover,
form .button-registration input[type="submit"]:hover {
    background: var(--sublight);
    color: black;
    transition: all 0.2s ease;
}

.form-container span {
    color: red;
    font-size: 13px;
    display: block;
    margin: 0 0 0 10px;
}

.face_photo {
    width: 100%;
}
